.items-container {
  display: flex;
  align-items: center;
}

.item-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -10px;

}

.item-image:first-child {
  margin-left: 0;
}





